{% set title = "Оплата" %}

{% set description = "Оплата физическими b юридическими лицами, Наличный расчет, Безналичный расчет, Оплата банковской картой при получении" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

		<div class="content-block">

			<h1>
				Оплата
			</h1>

			<h2>
				Оплата физическими лицами
			</h2>

			<ul>

				<li>
					<span class="color-orange">Наличный расчет</span> - оплата наличными средствами курьеру во время доставки. Вместе с заказом вы получаете товарный чек, содержащий все товарные позиции вашего заказа.
				</li>

				<li>
					<span class="color-orange">Безналичный расчет</span> - оплата происходит на основании счета. Счет действует 3 банковских дня. Если вы не успели оплатить в течение этого времени, пожалуйста, уточните наличие товара и актуальность счета у менеджера. Товар отгружается на следующий день после поступления денег на расчетный счет.
				</li>

				<li>
					<span class="color-orange">Оплата банковской картой при получении</span> - к оплате принимаются банковские карты: Visa, Visa Electron, MasterCard, MasterCard Electronic, Maestro. Возможность оплаты покупки кредитной картой предварительно согласовывается с менеджером по продажам. Напоминаем, что при оплате кредитной картой, владелец кредитной карты обязан предъявить документы, удостоверяющие личность — паспорт или водительское удостоверение.
				</li>

			</ul>

			<h3>
				Оплата юридическими лицами
			</h3>

			<ul>

				<li>
					<span class="color-orange">Наличный расчет</span> - оплата наличными средствами курьеру во время доставки. При оформлении заказ обязательно сообщите менеджеру, что товар оформляется на фирму, мы подготовим документы (сфет-фактуры, накладные).
				</li>

				<li>
					<span class="color-orange">Безналичный расчет</span> - оплата происходит на основании счета. Счет действует 3 банковских дня. Если вы не успели оплатить в течение этого времени, пожалуйста, уточните наличие товара и актуальность счета у менеджера. Товар отгружается на следующий день после поступления денег на расчетный счет.
				</li>

			</ul>

			<p>
				<b class="color-orange">ВНИМАНИЕ!</b> Техника отгружается представителю юридического лица при наличии печати компании или доверенности на получение товара.
			</p>


			<p>
				<b class="color-orange">ВНИМАНИЕ!</b> В связи с требованиями законодательства безналичная  оплата не может быть принята, если:
			</p>

			<ol>

				<li>
					Заказ оформлен на физическое лицо, а оплачивает юридическое лицо.
				</li>

				<li>
					Заказ оформлен на одно юридическое лицо, а оплату производит другое юридическое лицо.
				</li>

				<li>
					Заказ оформлен на  юридическое лицо, а оплату производит физическое лицо. В указанных случаях заказ не будет принят, и денежные средства будут возвращены плательщику.
				</li>

			</ol>

			<p>
				<b class="color-orange">ВНИМАНИЕ!</b> Перед оплатой товара на сайте или безналичной оплатой, обязательно уточняйте наличие товара на складе и его актуальную цену. В случае отсутствия товара на складе поставщика, оплаченная стоимость товара является бронированием количества товара и не лишает поставщика права на изменение цены после непосредственного поступления товара на склад.
			</p>

			<p>
				<b class="color-orange">ВНИМАНИЕ!</b> В соответствии со ст. 971 ГК РФ, банковские реквизиты для оплаты товара или реквизиты выставленного счёта, могут не совпадать с реквизитами компании поставщика, указанными на сайте, при этом, права и обязанности по сделке остаются за компанией поставщика.
			</p>

		</div>

	</article>

{% endblock %}