{% set title = "Партнерам" %}

{% set description = "Преимущества работы, Продажи оптом, Архитектурным бюро дизайнерам, Проектный бизнес" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

		<div class="content-block">

			<h1>
				Сотрудничество
			</h1>

			<h2>
				Преимущества работы
			</h2>

			<p>
				Вы ищете постоянного партнера для ведения бизнеса на выгодных условиях? Мы вам подходим!
			</p>

			<ol>

				<li>
					официальные поставки от ведущих производителей, эксклюзивные товары, специальные цены, максимально возможные скидки
				</li>

				<li>
					персональный менеджер: контроль от заказа до отгрузки
				</li>

				<li>
					полный комплекс услуг: профессиональная консультация, помощь в подборе товаров, бережная доставка, квалифицированная установка бытовой техники и мебели
				</li>

				<li>
					удобные формы оплаты: наличный расчет при получении товара, безналичный расчет, оплата on-line на сайте, оплата банковской картой при получении
				</li>

				<li>
					доставка собственной службой логистики по Москве и Московской области, Санкт-Петербургу и Ленинградской области
				</li>

				<li>
					самовывоз со склада в Москве и Санкт-Петербурге
				</li>

				<li>
					доставка в любой регион России удобной для вас транспортной компанией
				</li>

			</ol>

			<p>
				Для более подробной информации по сотрудничеству с нашей компанией позвоните по тел. <a href="tel:+74952830878">(495) 283-08-78</a>
			</p>

			<h2>
				Продажи оптом
			</h2>

			<p>
				Оптовый отдел компании FortHouse работает с партнерами по всей территории России и стран СНГ.
			</p>

			<ol>

				<li>
					ежедневная рассылка актуального прайс-листа
				</li>

				<li>
					мгновенное подтверждение наличия и принятие заявки
				</li>

				<li>
					гарантия сохранения цены и наличия товара в течение 3-х рабочих дней после выставления счета
				</li>

				<li>
					партнерская программа с ежемесячной выплатой бонусов по агентскому договору
				</li>

				<li>
					доставка в любой регион России и стран СНГ
				</li>

				<li>
					гарантия на все товары от фирмы производителя
				</li>

			</ol>

			<p>
				Заполните форму заявки партнера и мы пришлем вам предложение по работе с нами.
			</p>

			<p>
				Надеемся на долгосрочное взаимовыгодное сотрудничество с вами!
			</p>

			<h2>
				Архитектурным бюро, дизайнерам
			</h2>

			<ol>

				<li>
					помощь в подборе товаров для ваших клиентов
				</li>

				<li>
					широкий спектр товаров в разных направлениях: мебель, бытовая техника, предметы интерьера и декора, посуда и столовые приборы
				</li>

				<li>
					предоставление необходимой рекламной продукции и выставочных образцов
				</li>

				<li>
					регулярное проведение тренингов, вебинаров и мастер-классов
				</li>

				<li>
					работа по агентскому договору с ежемесячной выплатой бонусов
				</li>

			</ol>

			<p>
				Будем рады сотрудничеству с частными дизайнерами, архитекторами, дизайн-студиями и архитектурными бюро.
			</p>

			<h2>
				Проектный бизнес
			</h2>

			<ol>

				<li>
					особые условия для объемных проектов (многоквартирные дома, пентхаусы, коттеджные поселки) и для клиентов с профессиональным оборудованием (прачечные, детские сады, медицинские учреждения)
				</li>

				<li>
					профессиональный подход к проекту любой сложности
				</li>

				<li>
					полный спектр услуг по логистике и хранению
				</li>

				<li>
					полная поддержка при участии в тендерах на всех этапах
				</li>

				<li>
					предоставление сертификатов соответствия, технической документации, полного комплекта бухгалтерских документов
				</li>

			</ol>

		</div>

	</article>

{% endblock %}