{% set title = "Холодильники" %}

{% set description = "Купить Холодильники в Москве и МО. Низкая цена, бесплатная доставка на Холодильники в интернет-магазине FortHouse.ru. Холодильник в кредит." %}

{% set breadcrumbs = ["Главная", "Крупная бытовая техника", title] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

		<div class="catalog">

			<div class="catalog__filter">

{% include "catalog/filter.html" %}

			</div>

			<div class="catalog__body">

{% include "catalog/head.html" %}

{% include "catalog/list.html" %}

{% include "catalog/foot.html" %}

			</div>

		</div>

	</article>

	<div class="visuallyhidden">

		<script type="text/html" id="btn-in-cart-template">

			<a href="/zakaz/" class="btn">
				Оформить
			</a>

		</script>

	</div>

{% endblock %}