			<div class="catalog__list">

{% for item in [

	{
		img  : "r-bg410",
		name : "Холодильник Hitachi",
		code : "R-BG410 PU6X GPW",
		price : "99 950 ₽"
	},
	{
		img  : "r-wb642vu0_gmg",
		name : "Холодильник Hitachi",
		code : "R-WB642VU0 GMG",
		price : "По запросу"
	},
	{
		img  : "r-bg410_pu6x_xgr",
		name : "Холодильник Hitachi",
		code : "R-BG410 PU6X XGR",
		price : "99 950 ₽"
	},
	{
		img  : "mr-lxr68_em-gwh-r",
		name : "Холодильник Mitsubishi Electric",
		code : "MR-LXR68EM-GWH-R",
		price : "239 950 ₽"
	},
	{
		img  : "mr-lr78g-st-r",
		name : "Холодильник Mitsubishi Electric",
		code : "MR-LR78G-ST-R",
		price : "239 950 ₽"
	},
	{
		img  : "gr-rb440we-dmj(06)",
		name : "Холодильник Toshiba",
		code : "GR-RB440WE-DMJ(06)",
		price : "122 000 ₽"
	},
	{
		img  : "r-wb642vu0_gbk",
		name : "Холодильник Hitachi",
		code : "R-WB642VU0 GBK",
		price : "399 950 ₽"
	},
	{
		img  : "r-bg410_pu6x_gbk",
		name : "Холодильник Hitachi",
		code : "R-BG410 PU6X GBK",
		price : "99 950 ₽"
	},
	{
		img  : "r-bg410_pu6x_gs",
		name : "Холодильник Hitachi",
		code : "R-BG410 PU6X GS",
		price : "99 950 ₽"
	},
	{
		img  : "r-bg410_pu6x_gbe",
		name : "Холодильник Hitachi",
		code : "R-BG410 PU6X GBE",
		price : "99 950 ₽"
	},
	{
		img  : "mr-cxr46en-w",
		name : "Холодильник Mitsubishi Electric",
		code : "MR-CXR46EN-W-R",
		price : "129 950 ₽"
	},
	{
		img  : "mr-cxr46en-st",
		name : "Холодильник Mitsubishi Electric",
		code : "MR-CXR46EN-ST-R",
		price : "129 950 ₽"
	},
	{
		img  : "mr-cxr46en-ob",
		name : "Холодильник Mitsubishi Electric",
		code : "MR-CXR46EN-OB-R",
		price : "129 950 ₽"
	},
	{
		img  : "r-wb642vu0_gs_3",
		name : "Холодильник Hitachi",
		code : "R-WB 642 VU0 GS",
		price : "399 950 ₽"
	},
	{
		img  : "mr-lr78g-db-r",
		name : "Холодильник Mitsubishi Electric",
		code : "MR-LR78G-DB-R",
		price : "239 950 ₽"
	},
	{
		img  : "kbef_4330_00",
		name : "Холодильник Liebherr",
		code : "KBef 4330",
		price : "178 500 ₽"
	},
	{
		img  : "gr-rf610we-pms(37)",
		name : "Холодильник Toshiba",
		code : "GR-RF610WE-PMS(37)",
		price : "141 000 ₽"
	},
	{
		img  : "mr-lr78en-grb",
		name : "Холодильник Mitsubishi Electric",
		code : "MR-LR78EN-GRB-R",
		price : "279 950 ₽"
	},
	{
		img  : "mr-lr78en-gbk-r",
		name : "Холодильник Mitsubishi Electric",
		code : "MR-LR78EN-GBK-R",
		price : "279 950 ₽"
	},
	{
		img  : "mr-lr78en-gwh-r",
		name : "Холодильник Mitsubishi Electric",
		code : "MR-LR78EN-GWH-R",
		price : "279 950 ₽"
	},
	{
		img  : "mr-cxr46en-ps",
		name : "Холодильник Mitsubishi Electric",
		code : "MR-CXR46EN-PS-R",
		price : "129 950 ₽"
	},
	{
		img  : "r-v_542_pu7_beg",
		name : "Холодильник Hitachi",
		code : "R-V 542 PU7 BEG",
		price : "139 950 ₽"
	},
	{
		img  : "r-v_662_pu7_beg",
		name : "Холодильник Hitachi",
		code : "R-V 662 PU7 BEG",
		price : "159 950 ₽"
	},
	{
		img  : "r-g690gu_(xk)",
		name : "Холодильник Hitachi",
		code : "R-G690GU (XK)",
		price : "749 950 ₽"
	},
	{
		img  : "hitachi-rus_r-s702_pu2_gbk",
		name : "Холодильник Hitachi",
		code : "R-S 702 PU0 GBK",
		price : "249 950 ₽"
	},
	{
		img  : "hitachi-rus_r-s_702_pu0",
		name : "Холодильник Hitachi",
		code : "R-S 702 PU0 GS",
		price : "249 950 ₽"
	},
	{
		img  : "r-v_542_pu7_bbk",
		name : "Холодильник Hitachi",
		code : "R-V 542 PU7 BBK",
		price : "139 950 ₽"
	},
	{
		img  : "r-vg_542_pu7_gpw",
		name : "Холодильник Hitachi",
		code : "R-VG 542 PU7 GPW",
		price : "144 950 ₽"
	},
	{
		img  : "mr-cxr46en-ps",
		name : "Холодильник Mitsubishi Electric",
		code : "MR-CXR46EN-PS-R",
		price : "129 950 ₽"
	},
	{
		img  : "r-v_542_pu7_beg",
		name : "Холодильник Hitachi",
		code : "R-V 542 PU7 BEG",
		price : "139 950 ₽"
	},
	{
		img  : "r-v_662_pu7_beg",
		name : "Холодильник Hitachi",
		code : "R-V 662 PU7 BEG",
		price : "159 950 ₽"
	},
	{
		img  : "r-g690gu_(xk)",
		name : "Холодильник Hitachi",
		code : "R-G690GU (XK)",
		price : "749 950 ₽"
	},
	{
		img  : "hitachi-rus_r-s702_pu2_gbk",
		name : "Холодильник Hitachi",
		code : "R-S 702 PU0 GBK",
		price : "249 950 ₽"
	},
	{
		img  : "hitachi-rus_r-s_702_pu0",
		name : "Холодильник Hitachi",
		code : "R-S 702 PU0 GS",
		price : "249 950 ₽"
	},
	{
		img  : "r-v_542_pu7_bbk",
		name : "Холодильник Hitachi",
		code : "R-V 542 PU7 BBK",
		price : "139 950 ₽"
	},
	{
		img  : "r-vg_542_pu7_gpw",
		name : "Холодильник Hitachi",
		code : "R-VG 542 PU7 GPW",
		price : "144 950 ₽"
	}

]%}

				<div class="catalog__item">

					<article class="preview-product">

						<a href="/product/" class="preview-product__img">

							<picture>

								<source srcset="https://forthouse.ru/pic/220x220/{{ item.img }}.webp 1x, https://forthouse.ru/pic/440x440/{{ item.img }}.webp 2x" type="image/webp">
								<source srcset="https://forthouse.ru/pic/220x220/{{ item.img }}.jpg 1x, https://forthouse.ru/pic/440x440/{{ item.img }}.jpg 2x">

								<img src="https://forthouse.ru/pic/220x220/{{ item.img }}.jpg" width="220" height="220" alt="{{ item.name }} {{ item.code }}" loading="lazy">

							</picture>

							<h3 class="preview-product__img-name">

								{{ item.name }} <br> {{ item.code }}

							</h3>

						</a>

						<p class="preview-product__price{% if item.price === 'По запросу' %} is-get{% endif %}">
							{{ item.price }}
						</p>

						<form action="/" class="preview-product__form js-add-cart">

							<input type="hidden" name="id" value="123456789">

							<button class="btn">
								Купить
							</button>

						</form>

					</article>

				</div>

{% endfor %}

			</div>