{% set title = "Гарантия" %}

{% set description = "На всю продукцию купленную в онлайн или интернет магазине FortHouse, предоставляется гарантия производителя." %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

		<div class="content-block">

			<h1>
				Гарантия
			</h1>

			<p>
				На всю продукцию (включая бытовую технику, предметы интерьера, столовые приборы и кухонные гарнитуры) купленную в онлайн или интернет магазине <strong>FortHouse</strong>, предоставляется <span class="color-orange">гарантия производителя</span>.
			</p>

			<p>
				Гарантия вступает в силу в день покупки и действует в течение срока, указанного на <span class="color-orange">гарантийном талоне, в чеке или в сопроводительных документах</span> к продукции.
			</p>

			<p>
				Покупатель имеет право требовать выполнения гарантийных обязательств, если он тщательно соблюдал все инструкции по уходу за изделием.
			</p>

			<p>
				<span class="color-orange">Гарантия не действует</span>, если изделие хранилось, было собрано или установлено неправильно, использовалось с нарушением правил/норм эксплуатации или не по назначению, а также в случае нарушения инструкций по уходу. Гарантия не распространяется на нормальный износ, порезы или царапины, а также на повреждения, возникшие в результате удара или аварии. Гарантия не действует, если товар содержался на открытом воздухе или во влажном помещении, а также в случаях его не бытового использования (если только инструкция к товару не допускает обратного).
			</p>

			<p>
				<b class="color-orange">! Условия действия гарантии прописываются для каждого вида товаров отдельно.</b>
			</p>

			<h2>
				Бытовая техника
			</h2>

			<p>
				Каждый приобретенный бытовой прибор в магазине FortHouse имеет <span class="color-orange">гарантию от фирмы производителя</span>. Бытовые приборы предназначены для использования исключительно для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности либо удовлетворением бытовых потребностей в офисе предприятия, учреждения или организации (если иное не оговорено в инструкции производителя). Использование прибора в целях, отличных от вышеуказанных, является нарушением правил надлежащей эксплуатации прибора.
			</p>

			<p>
				Наличие фирменной заводской таблички на приборе обязательно! Пожалуйста, при покупке убедитесь, что она присутствует, и сохраните ее на приборе в течение всего срока службы прибора. Удаление таблички ведет к обезличению прибора, к возможным нарушениям правил его эксплуатации. Прибор без заводской таблички по гарантии не обслуживается.
			</p>

			<p>
				Изготовитель не несет ответственность за недостатки в приборе, если сервисной службой будет доказано, что они возникли вследствие нарушения потребителем правил пользования, транспортировки, хранения. Также вследствие  непреодолимой силы (пожара, природной катастрофы и т.п.), попадания бытовых насекомых и грызунов, воздействия иных посторонних факторов и вследствие существенных нарушений технических требований, оговоренных в инструкции по эксплуатации, в том числе нестабильности параметров электросети, установленных ГОСТ13109-97.
			</p>

			<p>
				Для подтверждения даты покупки прибора при гарантийном ремонте или предъявлении иных предусмотренных законом требований убедительно просим Вас <span class="color-orange">сохранять документы о покупке</span> (чек, квитанцию, иные документы, подтверждающие дату и место покупки).
			</p>

			<p>
				Гарантийные обязательства не распространяются на следующие виды работ:
			</p>

			<ul>

				<li>
					установка и подключение изделия на месте эксплуатации;
				</li>

				<li>
					инструктаж владельца по использованию изделия;
				</li>

				<li>
					очистка изделия снаружи либо изнутри;
				</li>

				<li>
					на замену расходных материалов (фильтры, лампочки освещения и т.д.)
				</li>

			</ul>

			<p>
				Настоятельно рекомендуем доверять подключение и установку приборов, только <span class="color-orange">квалифицированным специалистам и организациям</span>, занимающимся по роду своей деятельности осуществлением таких работ. Просим сохранять квитанции и иные документы о подключении и установке вашего прибора в течение всего срока эксплуатации.В случае возникновения неисправности следует обращаться в авторизованный сервисный центр. Ремонт изделия неуполномоченной организацией или частным лицом может повлечь за собой потерю права на гарантийное устранение недостатков, возникших вследствие ненадлежащего изменения конструкции изделия или его эксплуатации с не устранёнными недостатками.
			</p>

			<p>
				Подробную информацию о гарантийных условиях, сроках службы и об авторизованных  сервисных центрах,  вы сможете найти на сайтах производителей.  Соблюдение рекомендаций и указаний, содержащихся в правилах пользования, поможет избежать проблем в эксплуатации прибора и его обслуживании.
			</p>

			<h2>
				Кухонные гарнитуры
			</h2>

			<p>
				Гарантия считается <span class="color-orange">недействительной</span> в случае нанесения механических повреждений владельцем кухонного гарнитура, порчи мебели, неправильной установки варочной плиты, духового шкафа или другой встраиваемой техники. Удостоверьтесь, что пар и тепло от электроприборов, таких как микроволновая печь, кофеварка, чайник и т. д. не вступают в контакт с мебелью, так как всплески пара вызовут ее разбухание. Производителями бытовой техники и кухонной мебели предусмотрены защитные аксессуары и устройства (пластины, пленки и т.д.) от пара и нагрева.   Во избежание незначительных искажений и деформации мебели,  относительная влажность воздуха в помещении должная составлять  45 - 70% (18-22 градусов). Необходимо соблюдать климатические условия  в помещении.
			</p>

			<p>
				Чтобы кухонная мебель радовала вас долгое время, необходимо <span class="color-orange">соблюдать правила ухода</span> за ней и своевременно производить правильную очистку. Запрещается использование абразивных моющих средств и жестких губок, каких-либо восков, искусственных смол, растворителей, а также пароочистителей. Глянцевые, деревянные, синтетические поверхности не следует чистить в сухом состоянии, ткань для очистки должна быть мягкой и слегка влажной. Для деликатной очистки производители рекомендуют использовать салфетки из искусственной замши. Стеклянные фасады лучше всего очищать стандартными бытовыми чистящими средствами для стекол и зеркал.  На глянцевых поверхностях  со временем  может увеличиться количество царапин. Следы мелких царапин, видимых в солнечном  и галогеновом свете, являются нормой. Это связано с высоким эффектом блеска и не является поверхностным дефектом. Незначительные царапины не являются основанием для жалобы или для обращения по гарантии.
			</p>

			<h2>
				Столовые приборы, посуда и предметы интерьера
			</h2>

			<p>
				Столовые приборы, посуда и предметы интерьера будут блестеть и радовать ваш взор долгие годы, если вы будете следовать простым общим правилам ухода за ними. Обязательно изучите рекомендации по эксплуатации, указанные на этикетке или клоробке.
			</p>

			<p>
				Большинство столовых приборов можно мыть в посудомоечной машине, но перед мытьем обязательно изучите инструкцию по применению:
			</p>

			<ul>

				<li>
					все столовые приборы следует промывать и высушивать сразу же после использования. Приборы, оставленные во влажном состоянии, могут изменить цвет или повредиться;
				</li>

				<li>
					столовые приборы из нержавеющей стали 18/10 рекомендуется мыть при температуре до 65 ° C. Длительное взаимодействие изделий из нержавеющей стали с солью, уксусом, яйцом, томатным соусом, кислыми фруктами, моющими средствами или некоторыми минеральными солями, содержащимися в водопроводной воде, могут вызывать ржавчину  и окрашивание;
				</li>

				<li>
					столовые приборы с цветными ручками разрешается мыть в посудомоечной машине при низкой температуре (max.50-55°C);
				</li>

				<li>
					использовать только мягкое неабразивное моющее средство для посудомоечных машин, которое не содержит хлора, спирта и отдушки;
				</li>

				<li>
					не следует загружать посеребренные изделия и изделия из нержавеющей стали в один цикл мойки;
				</li>

				<li>
					столовые приборы с деревянными ручками, с элементами SWAROVSKI®, с золотыми или серебристыми деталями  можно мыть только вручную, сразу вытирая насухо. Вазы/подносы из блестящей стали, с отделкой из кожи, из АБС-пластика и выдувного стекла разрешается чистить мягкой и влажной тканью;
				</li>

				<li>
					при мытье приборов вручную также используйте только мягкие средства и крем. Применение порошков, проволочных или абразивных губок, слабощелочных моющих средств, содержащих спирт, хлор и отдушки запрещено;
				</li>

				<li>
					хранение столовых приборов и предметов интерьера из нержавеющей стали в сырых помещениях не желательно, так как это может вызвать коррозию и потребовать полировки;
				</li>

			</ul>

			<p>
				Любые нарушения правил эксплуатации, не покрываются гарантией производителя. Более подробные условия гарантии смотрите в гарантийных брошюрах по конкретным товарам.
			</p>

			<hr>

			<h2>
				Обмен (возврат) товара.
			</h2>

			<p>
				Обмен или возврат Товара надлежащего качества осуществляется в следующем порядке:
			</p>

			<ul>

				<li>
					Покупатель вправе отказаться от Товара в любое время до его передачи, а после передачи — в течение 7 (Семи) дней.
				</li>

				<li>
					Возврат Товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, документ, подтверждающий факт и условия покупки. В случае, если Покупателем не сохранены товарный вид и/или потребительские свойства Товара (в том числе в случае появления на момент передачи Товара от Покупателя к Продавцу не оговоренных при заключении настоящего договора дефектов: внешний вид, неполная комплектация и т.д. и иных недостатков, отсутствовавших на момент заключения настоящего Договора), Продавец вправе отказаться от приема Товара от Покупателя.
				</li>

				<li>
					В случае утраты и/или порчи Покупателем упаковки, не разрушаемой при ее вскрытии и обычной для упаковки Товаров такого рода при их продаже, Покупатель лишается права на возврат Товара по причине утраты товарного вида, даже если сам Товар не поврежден.
				</li>

				<li>
					Товар, поставляемый в разрушаемой упаковке (блистерная и другие виды упаковки), после ее вскрытия обмену и возврату не подлежит по причине утраты товарного вида, даже если сам Товар не поврежден.
				</li>

			</ul>

			<p>
				Покупатель не вправе вернуть Товар в случае, если такой Товар в соответствии с законодательством РФ не подлежит обмену или возврату.
			</p>

			<p>
				Доставка возвращенного Товара надлежащего качества производится силами Продавца за счет Покупателя.
			</p>

			<p>
				<b class="color-orange">Внимание!!!</b> Обмен или возврат Товара ненадлежащего качества осуществляется в соответствии с законодательством РФ. В случае возникновения спорных обращайтесь по телефону в Москве:  8-495-283-08-78 или присылайте заявление о возврате товара на электронную почту <a href="mailto:forthouse@yandex.ru">forthouse@yandex.ru</a>.
			</p>

		</div>

	</article>

{% endblock %}