				<div class="header-cart js-accent">

					<a class="header-cart__link js-set-cart-counter" href="/zakaz/" title="Корзина" data-counter="{% if cartHeaderCount %}{{ cartHeaderCount }}{% endif %}">
						<svg width="24" height="24" viewBox="0 0 24 24">
							<path fill-rule="evenodd" d="M5.8 2H1v2h3.22l2.77 12.68H7V17h13v-.25l2.2-9.66.33-1.09H6.66l-.58-2.61L5.8 2Zm14.19 6H7.09l1.53 7h9.78l1.59-7Z"/>
							<path d="M10 22a2 2 0 1 0 0-4 2 2 0 0 0 0 4ZM19 20a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
						</svg>
					</a>

					<form class="header-cart__minicart" action="/zakaz/">

						<p class="header-cart__minicart-label" data-declension="товар|товара|товаров">
							В корзине <span class="header-cart__minicart-count">2</span> товара
						</p>

						<div class="header-cart__minicart-flex">

							<p class="header-cart__minicart-total">
								Итого: <span class="header-cart__minicart-result" data-suf="₽">118&nbsp;778</span>
							</p>

							<button class="btn">
								Оформить заказ
							</button>

						</div>

					</form>

				</div>