	<div class="alert" data-id="1">

		<a class="alert__link" href="/action/new_year_gift_ideas_2024/">

			<img src="https://forthouse.ru/img/holiday/new-year.png" alt="" width="1920" height="128">

		</a>

		<div class="center">

			<p class="alert__head">
				С Наступающим Новым 2024 годом!
			</p>

			<p class="alert__text">
				не работаем с 31 декабря по 4 января
			</p>

			<button type="button" class="alert__close button" aria-label="Закрыть">

				<svg width="20" height="20" viewBox="0 0 24 24">
					<path d="m12 10.59-5.3-5.3a1 1 0 0 0-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 0 0 1.42 1.4L12 13.42l5.3 5.3a1 1 0 0 0 1.4-1.42L13.42 12l5.3-5.3a1 1 0 1 0-1.42-1.4L12 10.58Z"/>
				</svg>

				Реклама

			</button>

		</div>

	</div>