{% set title = "Рассрочка на товар" %}

{% set description = "Рассрочка на 24 месяца, без переплаты и первого взноса! С акцией «Рассрочка 24» это легко!" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

		<div class="content-block">

			<h1>
				Купить товар в рассрочку
			</h1>

			<h2>
				Рассрочка на 24 месяца, без переплаты и первого взноса! С акцией «Рассрочка 24» это легко!
			</h2>

			<p>
				Покупка бытовой техники и электроники в FortHouse.ru стала еще удобнее и выгоднее!
			</p>

			<p>
				Оформить рассрочку можно онлайн в интернет-магазине и в розничном магазине FortHouse.
			</p>

			<ol>

				<li>

					<h3>
						Выберите товар, участвующий в акции «Рассрочка»
					</h3>

					<p>
						Если товар участвует в акции "Рассрочка", то в карточке товара, в правом нижнем углу, будет отображена сумма ежемесячного платежа. Если Вы не видите данной информации, обратитесь, пожалуйста, к менеджерам для рассмотрения Вашего запроса в индивидуальном порядке.
					</p>

					<p>
						<img src="https://forthouse.ru/pic/vygodnaya-rassrochka-01.jpg" alt="Выберите товар с акцией Рассрочка" width="792" height="209" loading="lazy">
					</p>

				</li>

				<li>

					<h3>
						Оформление заказа
					</h3>

					<p>
						После нажатия на кнопку "КУПИТЬ" в карточке товара, вы перейдете в корзину, где сможете оформить заказ с возможностью рассрочки. Заполните обязательные поля ("Имя покупателя" и "Телефон" и выберите <span class="color-orange">"СПОСОБ ОПЛАТЫ"</span> - <span class="color-orange">"В РАССРОЧКУ НА 24 МЕСЯЦА (БАНК ПАРТНЕР HOME CREDIT)"</span>. Нажмите кнопку "ОФОРМИТЬ ЗАКАЗ"
					</p>

					<p>
						<img src="https://forthouse.ru/pic/vygodnaya-rassrochka-02.jpg" alt="Выберите товар с акцией Рассрочка" width="800" height="209" loading="lazy">
					</p>

				</li>

				<li>

					<h3>
						Заполните форму банка HomeCredit
					</h3>

					<p>
						После нажатия на кнопку "ОФОРМИТЬ ЗАКАЗ" автоматически появится форма заявки на рассрочку от банка HomeCredit. Будьте внимательны при оформлении заявки на рассрочку, от правильности заполнения всех полей зависит положительный ответ от банка. Не закрывайте пожалуйста окно пока вам не высветится ответ.
					</p>

					<p>
						При положительной кредитной истории вы получите ответ в течении 1 минуты, но в некоторых случаях банк просит внести дополнительную информацию (место работы, заработная плата и т.д.), в этом случае для принятия положительного решения понадобится до 5 минут.
					</p>

					<p>
						<img src="https://forthouse.ru/pic/vygodnaya-rassrochka-03.jpg" alt="Заполнение формы на рассрочку от банка HomeCredit" width="1041" height="608" loading="lazy">
					</p>

				</li>

				<li>

					<h3>
						Подписание договора рассрочки
					</h3>

					<p>
						Если вы являетесь/являлись клиентом HomeCredit, то договор подписывается через <span class="color-orange">СМС</span> сообщение или <span class="color-orange">мобильный банк</span> HomeCredit.
					</p>

					<p>
						Если вы не являетесь/являлись клиентом HomeCredit, то после оформления заказа вы можете подъехать в офис банка и подписать договор рассрочки. Если вы выбрали самовывоз, кредитный договор можно подписать одновременно с получением товара в магазине. Подписание кредитного договора производится только при наличии оригинала паспорта гражданина РФ, копии 2 и 3 страниц паспорта, копии страницы с действующей регистрацией.
					</p>

				</li>

				<li>

					<h3>
						Получите заказ
					</h3>

					<p>
						Если вы выбрали доставку курьером, после подписания договора и проверки банком вам позвонит сотрудник для согласования даты доставки заказа. Подписание договора и проверка в банке занимает от 3 до 5 рабочих дней. В случае выбора самовывоза получение заказа происходит в магазине сразу же после подписания договора. Вам обязательно понадобится паспорт.
					</p>

				</li>

			</ol>

			<p>
				* Покупка в рассрочку – это совместная акция магазина бытовой техники FortHouse.ru и банком-партнером HomeCredit. Рассрочка оформляется как кредитный договор с брокерским сервисом "Всегда ДА", а проценты по рассрочке погашаются за счет скидки на товар, предоставляемой магазином.
			</p>

			<p>
				** Обращаем ваше внимание, что курьеры банка доставляют договор в черте города. Доставка по области возможна по дополнительному согласованию с курьерской службой.
			</p>

			<p>
				*** Чтобы приобрести товар в рассрочку, общая сумма вашей корзины должна составлять от <span class="color-orange">3 000 до 300 000</span> рублей.
			</p>

			<h2>
				Рассрочка от Home Credit Bank (через брокер Всегда ДА!)
			</h2>

			<h3>
				Преимущества:
			</h3>

			<ul>

				<li>
					Онлайн решение за 1 минуту;
				</li>

				<li>
					Оформление кредита без посещения банка;
				</li>

				<li>
					Нужен только паспорт.
				</li>

			</ul>

			<h3>
				Обязательно:
			</h3>

			<ul>

				<li>
					Паспорт Гражданина РФ и регистрация на территории РФ;
				</li>

				<li>
					Стаж работы не менее 3 месяцев, на последнем месте работы;
				</li>

				<li>
					Официальное трудоустройство;
				</li>

				<li>
					Сумма кредита — от 5 000 рублей;
				</li>

				<li>
					Возраст — от 18 до 75 лет.
				</li>

			</ul>

			<p>
				Лицензия: «Хоум Кредит энд Финанс Банк» ОГРН: 1027700280937. Генеральная лицензия № 316 Банка России от 15 марта 2012 г.
			</p>

			<p>
				<b class="color-orange">Внимание!!!</b> Приобретая технику в рассрочку, вы не можете воспользоваться другими видами скидок:
			</p>

			<ul>

				<li>
					Накопленные бонусы по программе лояльности;
				</li>

				<li>
					Cкидки по акциям;
				</li>

				<li>
					Скидки по промокодам;
				</li>

				<li>
					Подарки по акциям.
				</li>

			</ul>

			<p>
				<a class="color-orange" href="https://forthouse.ru/katalog/rassrochka" title="Все товары в рассрочку"> &gt;&gt; ПОСМОТРЕТЬ ВСЕ ТОВАРЫ В РАССРОЧКУ</a>
			</p>

		</div>

	</article>

{% endblock %}