{% set title = "Холодильник Hitachi R-BG410 PU6X GPW" %}

{% set description = "Двухкамерный холодильник Hitachi R-BG410 PU6X GBE - охлаждение и заморозка в лучшем виде. Отдельностоящий холодильник-морозильник Hitachi R-BG410 PU6X GBE отличается множеством удобных функций и способствует поддержанию здорового и современного образа жизни. В холодильной камере созданы идеальные условия для бережного хранения продуктов." %}

{% set breadcrumbs = ["Главная", "Бытовая техника", "Холодильники", "R-BG410 PU6X GPW"] %}

{% set ogType = "article" %}
{% set urlPage = "product" %}
{% set ogImage = "img/product/880x880/r-bg410.jpg" %}

{% extends "template/base.html" %}

{% block content %}

	<article id="product">

{% include "product/schema.html" %}

		<div class="product">

			<div class="center">

				<div class="product__box">

{% include "product/mod/head.html" %}

{% include "product/mod/body.html" %}

				</div>

			</div>

		</div>

		<div class="center">

{% include "product/details.html" %}

		</div>

	</article>

{% endblock %}