{% set title = "Акции" %}

{% set description = "Акции и распродажи, Бонусы и привелегии, Выгодные предложения." %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

		<div class="content-block">

			<h1>
				Акции для покупателей
			</h1>

			<h2 class="color-orange" id="tretiy-pribor-v-podarok-ot-korting">
				При покупке комплекта техники из 3-х приборов в Ретро дизайне третий идет в подарок!
			</h2>

			<img src="https://forthouse.ru/pic/tretiy-pribor-v-podarok-ot-korting.jpg" alt="1 + 1 = 3 от Korting" width="1400" height="445" loading="lazy">

			<p>
				«Классическая суперакция 1+1=3» - в период с 23.05.2022 по 30.06.2022 при покупке комплекта техники из 3-х приборов в Ретро дизайне, наименьший по стоимости в подарок. В акции участвует линейка бытовых приборов KÖRTING в стиле Ретро.
			</p>

			<p>
				<em>* Все приборы в комплекте должны быть из разных товарных категорий.<br>* Скидки не суммируются со скидками из других акций.</em>
			</p>

			<p>
				<a href="katalog/tretiy-pribor-v-podarok-ot-korting" title="Все товары участвующие в акции 1 + 1 = 3 от Korting"> &gt;&gt; все товары акции</a>
			</p>

			<h2 class="color-orange" id="svch-v-podarok-k-holodilniku-korting">
				СВЧ в подарок при покупке отдельностоящего холодильника Korting!
			</h2>

			<img src="https://forthouse.ru/pic/svch-v-podarok-k-holodilniku-korting.jpg" alt="СВЧ в подарок к холодильнику Korting" width="1400" height="445" loading="lazy">

			<p>
				С 01 июня по 30 июня 2022 года при покупке отдельностоящего холодильника от компании Korting, клиент получает в подарок микроволновую печь (KMO 820 GW или KMO 720 X).
			</p>

			<p>
				<em>* Выгода предоставляется в размере стоимости СВЧ-печи.<br>* Скидки не суммируются со скидками из других акций.</em>
			</p>

			<p>
				<a href="katalog/svch-v-podarok-k-holodilniku-korting" title="Все товары участвующие в акции подарок микроволновая печь к холодильнику Korting"> &gt;&gt; все товары акции</a>
			</p>

			<h2 class="color-orange" id="skidka-na-komplekt-ot-teka">
				Акция "Скидка на комплект" от компании Teka
			</h2>

			<img src="https://forthouse.ru/pic/slide-teka.jpg" alt="Скидка на комплект от Teka" width="1951" height="850" loading="lazy">

			<p>
				Компания Teka запускает акцию - <span class="color-orange">"Скидка на комплект"</span>. При заказе комплекта продукции TEKA, состоящего из 2-х или более единиц разных товарных групп, предоставляется скидка от 25 % до 95% на самый недорогой товар в комплекте. Акция действует до 16 июня 2022 года.
			</p>

			<h3>
				Соберите свой комплект Teka
			</h3>

			<ol>

				<li>
					Скидка 25% на второй товар в комплекте
				</li>

				<li>
					Скидка 45% на третий товар в комплекте
				</li>

				<li>
					Скидка 95% на четвертый товар в комплекте
				</li>

			</ol>

			<p>
				<b class="color-orange">ВНИМАНИЕ!</b> Акция не суммируется с другими акциями и специальными предложениями.
			</p>

			<p>
				<a href="katalog/skidka-na-komplekt-ot-teka" title="Все товары участвующие в акции Скидка на коплект"> &gt;&gt; все товары акции</a>
			</p>

			<h2 class="color-orange" id="delivery-free">
				Бесплатная доставка
			</h2>

			<p>
				Для товара, участвующего в акции, предоставляется <span class="color-orange">бесплатная доставка</span> по России
			</p>

			<p>
				(Есть ограничения, подробности уточняйте у менеджера)
			</p>

			<p>
				<a href="katalog/delivery-free" title="Все товары участвующие в акции бесплатная доставка"> &gt;&gt; все товары акции</a>
			</p>

		</div>

	</article>

{% endblock %}