{% set title = "Страница не найдена" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

		<div class="content-block">

			<h1>
				Страница не найдена или удалена
			</h1>

			<p>
				Вы не нашли нужную страницу?
			</p>

			<p>
				Пожалуйста, перейдите в <a href="/category/">каталог</a> или на <a href="/">главную страницу</a>
			</p>

			<p>
				Вы можете обратиться к менеджерам магазина и уточнить интересующую вас информацию.
			</p>

		</div>

	</article>

{% endblock %}