.billboard {

	margin: var(--space) 0 66px;
	box-shadow: 0 -4px 10px rgba(175, 174, 198, 0.03), 0 4px 10px 2px rgba(175, 174, 198, 0.23);

	&:not(.swiper-container-style) &__item + &__item {

		display: none;

	}

	&__style-dark-slash,
	&__style-dark-grad,
	&__style-dark-bg {

		background-color: var(--color);
		color: #fff;

	}

	&__style-light-slash,
	&__style-light-grad,
	&__style-light-bg {

		background-color: #fff;

	}

	&__wrap {


	}

	&__list {

	}

	&__item {

		display: flex;
		height: 560px;
		position: relative;

	}

	&__img {

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 670px;
		pointer-events: none;

		img {

			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;

			@media $mdWidth {


			}

		}

	}

	&__style-dark-grad &__img {

		width: 100%;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background-image: linear-gradient(84deg, var(--color) 24%, rgba(5, 12, 5, 0) 86%);

		}

	}

	&__style-light-grad &__img {

		width: 100%;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background-image: linear-gradient(84deg, #fff 24%, rgba(255, 255, 255, 0) 86%);

		}

	}

	&__slash {

		position: absolute;
		width: 130px;
		height: 100%;
		left: 0;
		top: 0;
		fill: var(--color);

	}

	&__style-light-slash &__slash {

		fill: #fff;

	}

	&__content {

		max-width: 620px;
		padding: 58px 50px 72px 78px;
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;

	}

	&__logo {

		height: 96px;
		margin-bottom: 21px;

		img {

			width: auto;

		}

	}

	&__title {

		margin-bottom: 24px;
		position: relative;

		@media $smWidth {

			margin-bottom: 20px;

		}

	}

	&__text {

		font-size: 18px;
		line-height: 33px;

	}

	&__foot {

		display: flex;
		align-items: center;
		margin-top: auto;
		padding-top: 24px;

	}

	&__date {

		margin-left: 36px;
		display: flex;
		white-space: nowrap;

		svg {

			margin-right: 9px;
			flex-shrink: 0;

		}

	}

}