.billboard {

	position: relative;
	flex-shrink: 0;

	@media $smWidth {

		display: none;

	}

	.swiper-controls .swiper-pagination {

		bottom: 340px;

		.button {

			width: 10px;
			height: 10px;
			margin: 0 5px;
			background-color: transparent;

			&::after {

				position: absolute;
				width: 6px;
				height: 6px;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				margin: auto;
				border-radius: 50%;
				background-color: #616161;

			}

			&.is-active {

				border: 1px solid var(--orange);
				background-color: var(--bg);

				&::after {

					background-color: var(--bg);

				}

			}

		}

	}

	&:not(.swiper-container-style) &__item + &__item {

		display: none;

	}

	&__wrap {

		display: flex;
		overflow: hidden;
		flex-grow: 1;

	}

	&__list {

		display: flex;
		width: 100%;
		position: relative;
		z-index: 1;

	}

	&__item {

		width: 100%;
		display: flex;
		flex-shrink: 0;
		height: 768px;
		position: relative;

		.center {

			display: flex;
			align-items: flex-start;
			position: static;
			padding: 80px 0 360px;

		}

	}

	&__img {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		img {

			width: auto;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			object-fit: cover;
			max-width: 100%;

		}

	}

	&__content {

		max-width: 480px;
		position: relative;
		z-index: 1;

		&::before {

			position: absolute;
			top: -36px;
			left: -36px;
			right: -36px;
			bottom: -36px;
			content: '';

			border-radius: 36px;
			backdrop-filter: blur(6px);

		}

	}

	&__title {

		margin-bottom: 24px;
		position: relative;

	}

	&__text {

		position: relative;

		p {

			margin: 1em 0;

		}

		small {

			display: block;

		}

	}

	&__btn {

		margin-top: 36px;
		display: flex;

	}

	&__service {

		position: absolute;
		left: 0;
		right: 0;
		bottom: 30px;
		display: flex;
		justify-content: center;

		&-item {

			width: 200px;
			padding: 0 20px;
			height: 280px;
			background-color: #fff;
			position: relative;
			z-index: 1;
			margin: 0 1px;

			@media (min-width: 1336px) {

				margin: 0 10px;

			}

			dt {

				font-size: 13px;
				line-height: 18px;
				padding: 8px 0 6px;
				font-weight: 700;
				color: #000;

				a {

					color: #000;

				}

			}

			dd {

				font-size: 12px;
				color: var(--text);
				line-height: 16px;

				p {

					padding-left: 12px;
					position: relative;
					padding-bottom: 7px;

					&::before {

						position: absolute;
						width: 5px;
						height: 5px;
						top: 7px;
						left: 0;
						content: '';
						border-radius: 50%;
						background-color: var(--orange);

					}

				}

			}

		}

	}

}