.breadcrumbs {

	margin: var(--gap) 0;

	@media $smWidth {

	}

	&__list {

		display: flex;
		flex-wrap: wrap;

		@media $smWidth {

			flex-wrap: nowrap;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin: 0 calc( var(--indent) * -1);
			padding: 0 var(--indent);

		}

	}

	&__item {

		display: flex;
		align-items: center;
		color: var(--text);

		&::after {

			margin: 0 10px;
			content: '/';

		}

		&:last-child {

			&::after {

				display: none;

			}

		}

	}

	&__link {

		font-size: 12px;
		color: var(--text);

		@media $desktop {

			&:hover {

				color: var(--orangeHover);
				text-decoration: underline;

			}

		}

	}

}