.category {

	margin: calc( var(--space) / 2) 0 0;

	@media $mdWidth {

		margin: calc( var(--space) / 2) auto var(--space);

	}

	@media $smWidth {

		margin: var(--space) 0 var(--indent);

	}

	&__title {

		margin-bottom: var(--gap);

	}

	&__flex {

		display: flex;
		justify-content: space-between;
		padding-bottom: var(--space);

		@media $smWidth {

			display: block;
			padding: 0;

		}

	}

	&__list {

		column-gap: 80px;
		column-count: 2;
		column-width: 360px;

		li {

			border-bottom: 1px solid #dadada;
			overflow: hidden;

		}

		a {

			padding: 8px 0;
			display: flex;
			font-size: 14px;
			line-height: 20px;
			white-space: nowrap;
			align-items: baseline;

			@media $mdWidth {

				text-transform: uppercase;
				padding: 10px 0;

			}

			@media $desktop {

				&:hover {

					color: var(--orangeHover);

				}

			}

			small {

				font-size: 12px;
				color: var(--text);
				margin-left: 6px;

			}

		}

	}

	&__brand {

		background-color: #fff;
		padding: 20px;
		column-gap: 20px;
		column-count: 2;
		flex-shrink: 0;
		margin-left: var(--space);


		@media $smWidth {

			margin: var(--space) 0 0;

		}

		a {

			padding: 3px 0;
			display: flex;
			font-size: 13px;
			line-height: 18px;
			white-space: nowrap;
			align-items: baseline;

			@media $desktop {

				&:hover {

					color: var(--orangeHover);

				}

			}

			small {

				font-size: 12px;
				color: var(--text);
				margin-left: 6px;

			}

		}

	}

}