.content-block {

	margin: var(--space) 0;

	h1 {

		font-size: 24px;
		text-transform: uppercase;
		line-height: 1.2;

	}

	p + h1 {

		margin-top: 48px;

	}

	h2 {

		font-size: 18px;
		text-transform: uppercase;
		line-height: 1.2;
		margin: 48px 0 24px;

	}

	h3 {

		font-size: 15px;
		text-transform: uppercase;
		margin: 24px 0 12px;

	}

	p {

		text-align: justify;
		margin: 1em 0;

		b {

			font-weight: 600;
			color: var(--orange);

		}

		strong {

			font-weight: 600;

		}

	}

	p, li {

		a:not([href^="tel"]):not([href^="mailto"]) {

			text-decoration: underline;

			@media $desktop {

				&:hover {

					text-decoration: underline;
					text-decoration-color: transparent;
					transition: var(--transitionDefault);

				}

			}

		}

	}

	hr {

		margin: var(--gap) 0;

	}

	ul {

		li {

			margin: 12px 0;
			padding-left: 24px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M12 16h19M21 6l10 10-10 10M0 16h2M4 16h2M8 16h2' fill='none' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E");
			background-size: 12px 12px;
			background-position: 0 4px;
			background-repeat: no-repeat;

		}

	}

	ol {

		counter-reset: headings 0;

		li {

			margin: 24px 32px;
			font-size: 13px;

			&::before {

				top: 0;
				left: -32px;
				width: 21px;
				height: 21px;
				border-radius: 50%;
				background-color: #000;
				color: #fff;
				position: absolute;
				font-size: 13px;
				line-height: 20px;
				text-align: center;
				counter-increment: headings 1;
				content: counter(headings, decimal);

			}

		}

	}

	img {

		max-width: 100%;
		height: auto;

	}

	.pull-left {

		@media $desktop {

			float: left;
			margin-right: var(--gap);
			margin-bottom: var(--gap);

		}

	}

}


.readmore-text {

	position: relative;

	&__body {

		max-height: 256px;
		overflow: hidden;
		position: relative;
		pointer-events: none;

		&::after {

			position: absolute;
			height: 72px;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			transition: var(--transitionDefault);
			pointer-events: none;
			background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

		}

	}

	&.is-open &__body {

		max-height: 99999px;

		&::after {

			opacity: 0;

		}

	}

	&__btn {

		margin-top: var(--gap);
		transition: var(--transitionDefault);

	}

}