.content-block {

	margin: var(--space) 0;

	@media $mdWidth {

		display: none;

	}

	h1 {

		font-size: 24px;
		text-transform: uppercase;
		line-height: 1.2;

	}

	h2 {

		font-size: 18px;
		text-transform: uppercase;
		line-height: 1.2;
		margin: 48px 0 24px;

	}

	h3 {

		font-size: 15px;
		text-transform: uppercase;
		margin: 36px 0 18px;

	}

	p {

		text-align: justify;

		& + p {

			margin-top: 12px;

		}

	}

	ul {

		li {

			margin: 12px 0;

			&::before {

				position: absolute;
				width: 4px;
				height: 4px;
				top: 0;
				left: 0;
				content: '';
				border-radius: 50%;
				background-color: var(--orange);

			}

		}

	}

	ol {

		counter-reset: headings 0;

		li {

			margin: 12px 0;

			&::before {

				counter-increment: headings 1;
				content: counter(headings, decimal);
				float: left;
				min-height: 12px;
				margin-right: 6px;

			}

		}

	}

}