.color-orange {

	color: var(--orange);

}
.color-red {

	color: var(--red);

}
.color-green {

	color: var(--green);

}

.js-btn-back {

	display: flex;
	align-items: center;
	gap: 9px;
	font-size: 18px;
	color: var(--text);

	@media $desktop {

		transition: var(--transitionDefault);

		&:hover {

			color: var(--color);

		}

	}

}

.flex {

	display: flex;

	&--wrap {

		flex-wrap: wrap;

	}

	&--space-between {

		justify-content: space-between;

	}

	&--align-center {

		align-items: center;

	}

}

hr {

	border: 0;
	height: 1px;
	background-color: #adadad;

}

.link {

	text-decoration: underline;

	@media $desktop {

		&:hover {

			text-decoration: underline;
			text-decoration-color: transparent;
			transition: var(--transitionDefault);

		}

	}

}

.h0 {

	font-weight: 600;
	font-size: 42px;
	line-height: 51px;

	@media $mdWidth {

		font-size: 27px;
		line-height: 33px;

	}

	@media $smWidth {

		font-size: 24px;
		line-height: 30px;

	}

}

.h1 {

	font-weight: 600;
	font-size: 30px;
	line-height: 36px;

	@media $mdWidth {

		font-size: 24px;
		line-height: 30px;

	}

	@media $mdWidth {

		font-size: 21px;
		line-height: 27px;

	}

}

.h2 {

	font-weight: 600;

}

.h3 {

	font-weight: 600;
	font-size: 21px;
	line-height: 24px;

	@media $mdWidth {

		font-size: 18px;

	}

}

.h4 {

	font-weight: 600;
	font-size: 18px;
	line-height: 24px;

}

.w100p {

	width: 100%;

}

.align-center {

	text-align: center;

}

table {

	border: 0;
	border-collapse: collapse;

}

.white-space-nowrap {

	white-space: nowrap;

}

.page {

	margin: var(--gap) 0;

}

.title {

	margin: var(--gap) 0;

}

[data-youtube] {

	position: relative;
	display: block;

	&::after {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		transition: var(--transitionDefault);
		background-color: rgba(0,0,0,.3);
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45' viewBox='0 0 45 45'%3E%3Cpath fill='%23F84A2B' d='M18.75 30.94 30 22.5l-11.25-8.44v16.88ZM22.5 3.75a18.76 18.76 0 1 0 .01 37.51 18.76 18.76 0 0 0-.01-37.51Zm0 33.75c-8.27 0-15-6.73-15-15s6.73-15 15-15 15 6.73 15 15-6.73 15-15 15Z'/%3E%3C/svg%3E");

	}

	@media $desktop {

		&:hover::after {

			background-color: rgba(0,0,0,0);

		}

	}

}