.color-orange {

	color: var(--orange);

}

.js-accent {

	position: relative;

	&.is-up {

		z-index: 9;

	}

}

.flex {

	display: flex;

	&--wrap {

		flex-wrap: wrap;

	}

	&--space-between {

		justify-content: space-between;

	}

	&--align-center {

		align-items: center;

	}

}

hr {

	border: 0;
	height: 1px;
	background-color: #adadad;

}

.link {

	text-decoration: underline;

	@media $desktop {

		&:hover {

			text-decoration: underline;
			text-decoration-color: transparent;
			transition: var(--transitionDefault);

		}

	}

}

.h0 {

	text-transform: uppercase;
	font-size: 35px;
	line-height: 42px;

}
/*
.h1 {

	font-weight: 500;
	font-size: 39px;
	line-height: 45px;

}

.h2 {

	font-weight: 500;
	font-size: 30px;
	line-height: 36px;

	@media $mdWidth {

		font-size: 24px;
		line-height: 30px;

	}

}

.h3 {

	font-weight: 500;
	font-size: 27px;
	line-height: 33px;

}

.h4 {

	font-weight: 500;
	font-size: 24px;
	line-height: 30px;

	@media $mdWidth {

		font-size: 15px;
		line-height: 21px;

	}

}
 */
.w100p {

	width: 100%;

}

.align-center {

	text-align: center;

}

table {

	border: 0;
	border-collapse: collapse;

}

.white-space-nowrap {

	white-space: nowrap;

}
