.menu-top {

	display: flex;

	a {

		display: block;
		font-size: 13px;
		line-height: 45px;
		font-weight: 600;
		padding: 0 22px;
		--color: #000;
		transition: var(--transitionDefault);

		@media $desktop {

			&:hover {

				color: var(--orangeHover);

			}

		}

	}

}

.menu-category {

	ul {

		display: flex;
		gap: 10px;

	}

	a {

		display: block;
		font-size: 13px;
		line-height: 24px;
		font-weight: 600;
		padding: 20px;
		transition: var(--transitionDefault);

		&::before {

			border-radius: 50%;
			content: '';
			height: 5px;
			left: 6px;
			position: absolute;
			top: 1px;
			bottom: 0;
			margin: auto;
			width: 5px;
			background-color: var(--orange);

		}

		@media $desktop {

			&:hover {

				color: var(--orangeHover);

			}

		}

	}

}