.modal {

	flex-grow: 1;
	position: relative;
	z-index: 10;
	display: none;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: var(--indent);

	@media $smWidth {

		padding: 0;

	}

	&__box {

		position: relative;
		max-width: 100%;

	}

	&__item {

		background-color: #fff;
		padding: var(--indent);
		max-width: 100%;
		width: 428px;

		&--gallery {

			width: 1180px;
			padding: 0;

			.swiper-slide {

				display: flex;
				justify-content: center;
				align-items: center;
				padding: var(--gap);

			}

			img {

				max-width: 100%;
				height: auto;

			}

		}

	}

	&__close-btn {

		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 1;

		svg {

			fill: #000;

		}

		@media $desktop {

			&:hover svg {

				fill: var(--grey);

			}

		}

	}

	&__head {

		margin-bottom: var(--gap);

	}

	&__text {

		margin: var(--gap) 0;
		font-size: 16px;

	}

	&__btn {

		display: flex;
		margin-top: var(--indent);
		justify-content: center;

	}

}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 9;
			opacity: .4;
			background-color: #000;

		}

	}

}

.modal-get-price {

	&__product {

		border-bottom: 1px;
		display: flex;
		align-items: center;
		margin-bottom: var(--gap);

	}

	&__photo {

		width: 90px;
		height: 90px;
		margin-right: var(--gap);
		flex-shrink: 0;

		img {

			object-fit: contain;

		}

	}

	.input {

		margin: var(--gap) auto;

	}

	.btn {

		width: 256px;
		margin: var(--indent) auto 0;

		@media $smWidth {

			width: 100%;

		}

	}

}