.pagin {

	margin: 48px 0 84px;
	display: flex;
	justify-content: center;

	@media $smWidth {

		margin: var(--space) 0;

	}

	&__item {

		&--sep {

			width: 28px;
			display: flex;
			justify-content: center;
			align-items: center;

		}

	}

	&__item--current &__link,
	&__item--disabled &__link {

		pointer-events: none;
		color: var(--grey);

	}

	&__link {

		color: var(--orange);
		min-width: 32px;
		height: 32px;
		display: block;
		text-align: center;
		line-height: 32px;

		&:hover {

			color: var(--orangeHover);

		}

	}

}