.preview-product {

	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	flex-grow: 1;
	background-color: #fff;
	box-shadow: var(--box-shadow);

	@media $desktop {

		&:hover &__name {

			text-decoration: underline;
			color: var(--orangeHover);

		}

		&:hover &__btn-link {

			opacity: 1;

		}

	}

	&__img {

		padding: 14px;

		img {

			width: 100%;
			object-fit: contain;

		}

	}

	&.is-small &__img {

		padding: 8px;

	}

	&__name {

		font-size: 13px;
		line-height: 1.4;
		font-weight: 400;
		padding: 0 8px;
		transition: var(--transitionDefault);

	}

	&.is-small &__name {

		font-size: 12px;

	}

	&__price {

		font-weight: 700;
		font-size: 25px;
		margin: 8px 0;

		@media $smWidth {

			font-size: 20px;
			margin-top: auto;

		}

		&.is-get {

			font-size: 16px;
			margin: 12px 0;

		}

	}

	&.is-small &__price {

		font-size: 15px;

	}

	&__btn-link {

		position: static;
		opacity: 0;
		border-radius: 0;
		margin-top: auto;
		-webkit-tap-highlight-color: transparent;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';

		}

		@media $tablet {

			height: 8px;
			line-height: 0;
			font-size: 0;
			margin: 0;

		}

		@media $smWidth {

			height: 0;
			font-size: 0;
			line-height: 0;

		}

	}

}

.preview-product-row {

	display: grid;
	grid-template-columns: 220px 1fr 220px;
	gap: var(--gap);
	background-color: #fff;
	box-shadow: var(--box-shadow);
	padding: var(--gap);
	flex-grow: 1;

	@media $desktop {

		&:hover .preview-product-row__form-buy .btn {

			opacity: 1;

		}

	}

	@media $mdWidth {

		grid-template-columns: 220px 1fr;

	}

	@media $smWidth {

		display: block;

	}

	&__head {

		img {

			width: 100%;
			object-fit: contain;

		}

		@media $mdWidth {

			grid-row: span 2;

		}

	}

	&__body {

		@media $smWidth {

			margin: var(--gap) 0;

		}

	}

	&__name {

		font-size: 20px;
		font-weight: 700;
		margin-bottom: 14px;

		@media $desktop {

			a {

				transition: var(--transitionDefault);
				text-decoration: underline;
				text-decoration-color: transparent;

				&:hover {

					text-decoration-color: var(--orangeHover);
					color: var(--orangeHover);

				}

			}

		}

	}

	&__price {

		font-weight: 700;
		font-size: 24px;

		&.is-get {

			font-size: 16px;
			font-weight: 400;
			color: var(--orange);

			@media $smWidth {

				font-size: 14px;

			}

		}

		@media $smWidth {

			font-size: 20px;

		}

	}

	&__desc {

		margin: 14px 0;

		@media $mdWidth {

			display: none;

		}

	}

	&__foot {

	}

	&__form-buy {

		display: flex;
		align-items: center;

		.btn {

			margin-left: var(--gap);

			@media $desktop {

				opacity: 0;

			}

		}

	}

	.product-param dt {

		color: var(--text);

	}

}

.product-param {

	&__item {

		display: flex;
		align-items: flex-end;
		font-size: 13px;
		padding: 4px 0;
		gap: 6px;

	}

	dt {

		display: flex;
		gap: 6px;
		flex-grow: 1;
		align-items: flex-end;

		&::after {

			content: '';
			flex-grow: 1;
			height: 1px;
			background-color: #d7dada;
			min-width: var(--gap);
			margin-bottom: 4px;

		}

	}

}