{% set title = "Доставка" %}

{% set description = "Условия доставки, Тарифы на доставку, Стоимость подъема без лифта, Доставка в регионы России" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

		<div class="content-block">

			<h1>
				Доставка товара
			</h1>

			<h2>
				Условия доставки
			</h2>

			<ul>
				<li>
					Доставка осуществляется собственной службой логистики по <span class="color-orange">Москве, Московской области, Санкт-Петербургу и Ленинградской области</span>. Курьер обязательно связывается по указанным Вами телефонам не позднее, чем за час до прибытия на адрес доставки.
				</li>

				<li>
					Товар доставляется по указанному <span class="color-orange">Вами адресу</span>, который отображается в договоре купли-продажи. Пожалуйста, будьте внимательны при оформлении заказа и указании Ваших контактных данных.
				</li>

				<li>
					Доставим Ваш товар <span class="color-orange">за входную дверь квартиры (офиса)</span>. Дальнейшие перемещения по квартире, офису или иной территории оговариваются с сотрудниками службы логистики на месте.
				</li>

				<li>
					Прием товара производится покупателем <span class="color-orange">по внешнему виду</span> в присутствии представителя службы доставки. Представитель службы доставки обязан распаковать и показать товар покупателю, а покупатель обязан внимательно осмотреть товар на предмет внешних механических повреждений.
				</li>

			</ul>


			<p>
				Если покупатель не имеет претензий по внешнему виду и комплектации к товару, он принимает товар и своей подписью в договоре купли-продажи подтверждает, что товар не имеет механических повреждений и комплектация товара полная. В случае принятия товара покупателем и подписания им договора купли-продажи, претензии по внешнему виду и комплектации доставленного товара, в соответствии со ст. 458 и 459 ГК РФ не принимаются.
			</p>

			<p>
				Если во время приемки товара покупатель обнаружил какие-либо недостатки, он вправе отказаться от принятия товара, созвониться с менеджером и оформить заявку на повторную доставку.
			</p>

			<p>
				В случае отсутствия гарантийного талона или инструкции по эксплуатации товара на русском языке, Вы можете обратиться в Контактный центр по телефону <a href="tel:+74952830878"><b class="color-orange">+7 495 283-08-78</b></a>.
			</p>

			<h2>
				Тарифы на доставку
			</h2>

			<h3>
				Доставка по Москве и Московской области
			</h3>

			<ul>

				<li>
					Стоимость доставки заказа, сумма которого не превышает 10000 руб, — <span class="color-orange">1000 руб.</span>
				</li>

				<li>
					Стоимость доставки заказа, сумма которого превышает 10000 руб, — <span class="color-orange">БЕСПЛАТНО</span>
				</li>

				<li>
					Доставка техники за пределы МКАД + 10км — оплачивается из расчета - <span class="color-orange">30 руб. за 1 км от МКАД</span>
				</li>

			</ul>

			<h3>
				Доставка по Санкт-Петербургу и Ленинградской области
			</h3>

			<ul>

				<li>
					Стоимость доставки заказа, сумма которого не превышает 10000 руб, в пределах КАД + 10км — <span class="color-orange">1000 руб.</span>
				</li>

				<li>
					Стоимость доставки заказа, сумма которого превышает 10000 руб, в пределах КАД + 10км  — <span class="color-orange">БЕСПЛАТНО</span>
				</li>

				<li>
					Доставка техники за пределы КАД + 10км — оплачивается из расчета - <span class="color-orange">30 руб. за 1 км от КАД</span>
				</li>

			</ul>

			<h2>
				Стоимость подъема без лифта
			</h2>

			<ul>

				<li>
					Холодильники, сушильные шкафы до 60 см шириной - 200 рублей за этаж, шире 60 см: вес до 80кг - 200 руб, вес до 80-90кг - 300 руб, вес 90-100кг - 400 руб, вес от 100кг - 500 руб
				</li>

				<li>
					Духовые шкафы, посудомоечные машины - 200 рублей за этаж.
				</li>

				<li>
					Стиральные и сушильные машины - 200 рублей за этаж.
				</li>

				<li>
					Варочные панели, вытяжки, кофемашины, и прочая мелкая техника - 50 рублей за этаж.
				</li>

			</ul>

			<p>
				<b class="color-orange">ВНИМАНИЕ!</b> При ручном подъеме техники 1 этаж учитывается!
			</p>

			<h2>
				Самовывоз
			</h2>

			<p>
				Самовывоз <b>Москва</b>: осуществляется Пн-Пт с 10:00 до 18:00 по адресу: <a href="https://yandex.ru/maps/-/CCUJ5WT0kA" target="_blank" rel="noopener nofollow">Промышленная улица, 9с3.</a>
			</p>

			<p>
				Самовывоз <b>Санкт-Петербург</b>: осуществляется ежедневно с 10:00 до 20:00 по адресу: <a href="https://yandex.ru/maps/-/CCUJ5Wd8XD" target="_blank" rel="noopener nofollow">ул.Куйбышева, дом 38</a>
			</p>

			<h2>
				Доставка в регионы  России
			</h2>

			<ul>

				<li>
					Доставка в регионы России осуществляется транспортными компаниями только после полной оплаты заказа.
				</li>

				<li>
					Бесплатно, транспортной компанией ПЭК, до терминала ТК в вашем, или ближайшем городе, если цена единицы товара не менее 70.000 руб.
				</li>

				<li>
					Отправка в регионы Федерального Дальневосточного и Сибирского Округов, осуществляется за счет покупателя.
				</li>

				<li>
					Возможна оплата при получении в ТК ПЭК.
				</li>

			</ul>

			<h3>
				Порядок оформления заказов в регионы России
			</h3>

			<ul>
				<li>
					Для оформления заказа необходимо <span class="color-orange">оставить заявку</span> на нашем сайте с помощью "корзины" или электронной почты, либо оформить заказ с помощью менеджера по телефону: <a href="tel:+74952830878">+7 (495) 283-08-78</a>
				</li>

				<li>
					После подтверждения заказа Вам будет выставлен <span class="color-orange">счет</span> на оплату. Оплата заказа производится только по б/н расчету! Счет действителен в течение 3-х дней (именно на этот период мы резервируем для Вас товар и фиксируем цену). В данный период мы гарантируем резерв товара и сохранение цены. На следующий день после поступления денежных средств на расчетный счет компании и при наличии доверенности от Плательщика производится отгрузка товара в транспортную компанию, согласованную между Продавцом и Покупателем.
				</li>

				<li>
					Для передачи товара в транспортную компанию и его дальнейшей отправки требуется <span class="color-orange">доверенность от Покупателя</span>.
				</li>

				<li>
					Доставка товара до терминала транспортной компании рассчитывается по тарифам доставки по Москве или Санкт-Петербургу. Услуги по доставке товара транспортной компанией в Ваш регион <span class="color-orange">оплачиваются Вами</span> в терминале транспортной компании при получении товара.
				</li>

				<li>
					Ознакомиться со сроками доставки и самостоятельно рассчитать стоимость услуг по перевозке можно на сайтах грузоперевозчиков. При расчете учитывайте изготовление дополнительной упаковки (обрешетка товара) для сохранности груза.
				</li>

				<li>
					Товар может быть доставлен в Ваш город с помощью любой транспортной компании, имеющей представительство в городе отправителя.
				</li>

				<li>
					Ознакомиться со сроками доставки в Ваш регион и самостоятельно рассчитать стоимость услуг по перевозке можно на сайтах грузоперевозчиков. При расчете учитывайте изготовление дополнительной упаковки (обрешетка товара) для сохранности груза.
				</li>

			</ul>

			<ol>

				<li>
					Деловые Линии <a href="http://www.dellin.ru/requests/" target="_blank" rel="noopener nofollow">(рассчитать стоимость)</a>
				</li>

				<li>
					ЖелДорЭкспедиция <a href="http://www.jde.ru/online/calculator.html" target="_blank" rel="noopener nofollow">(рассчитать стоимость)</a>
				</li>

				<li>
					ПЭК <a href="http://pecom.ru/ru/calc" target="_blank" rel="noopener nofollow">(рассчитать стоимость)</a>
				</li>

				<li>
					КиТ <a href="https://moscow.tk-kit.ru" target="_blank" rel="noopener nofollow">(рассчитать стоимость)</a>
				</li>

			</ol>

			<p>
				При отправке товара в обязательном порядке выполняются обрешетка товара и страхование отправляемого груза (груз отправляется с объявленной ценностью).
			</p>

			<p>
				Данная услуга является платной, предоставляется транспортной компанией и оплачивается на месте, при получении. Стоимость данной услуги зависит от выбранной Вами транспортной компании. В случае, если транспортная компания не оказывает подобные услуги, заказ отправляется без применения одной или нескольких опций.
			</p>

			<p>
				После отгрузки товара в транспортную компанию, дальнейшую ответственность за сохранность груза несёт транспортная компания.
			</p>

		</div>

	</article>

{% endblock %}