{% set title = "Статьи" %}

{% set description = "Как выбрать бытовую технику - статьи, обзоры, новинки" %}

{% set breadcrumbs = ["Главная", title] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="center">

		<div class="publication">

			<h1 class="title h1">
				Статьи
			</h1>

{% for item in [

	{
		name  : "Новая линейка холодильников Liebherr - Monolith.",
		link  : "novaya-lineyka-holodilnikov-liebherr-monolith",
		img   : "novaya-lineyka-holodilnikov-liebherr-monolith",
		date  : "05/08/2019",
		dateF : "2019-08-05",
		desc  : "Новейшее дополнение к холодильной линейке Lieherr вышло под названием Monolith. это новый уровень качества: увеличенные габаритные размеры, продуманный дизайн внутреннего пространства, высококачественные материалы и технологии."
	},
	{
		name  : "Интеллектуальная индукционная плита, которая адаптируется к вашим блюдам",
		link  : "novinka-teka-launches-iknob-induction-hob",
		img   : "novinka-varochnaya-poverhnost-teka-it-6450-iknob",
		date  : "30/06/2019",
		dateF : "2019-06-30",
		desc  : "Новинка от компании TEKA - индукционная поверхность IT 6450 IKNOB. Это премиальная рабочая поверхность, с передовой концепцией панели управления, которая абсолютно точно управляет вашей посудой. Вам не придется обновлять кастрюли на кухне - инновационная система оптимизации передачи энергии на посуду гарантирует, что энергия всегда оптимально настраивается на выбранную мощность, независимо от качества используемой посуды."
	},
	{
		name  : "Очистители воздуха Hitachi - подлинное японское качество",
		link  : "ochistiteli-vozduha-hitachi-podlinnoe-yaponskoe-kachestvo",
		img   : "ochistiteli-vozduha-hitachi-podlinnoe-yaponskoe-kachestvo",
		date  : "03/03/2019",
		dateF : "2019-03-03",
		desc  : "Верная особой истории и философии инноваций, компания Hitachi сделала свою систему очистки воздуха образцом передовых технологий. От впечатляющей концепции 6-стороннего забора воздуха, разработанной в 2002 году, до принципиально новой функции дезодорирования с фото-каталитической активацией и технологией Stainless Clean, облегчающей обслуживание - все здесь направлено на достижение высочайших рабо-чих характеристик. Внедрение модуля самоочистки Auto Self Clean - Auto Filter Cleaning Robot максимально упростило уход за оборудованием, поскольку предварительный фильтр теперь автоматически чистится прежде, чем на нем успевает скопиться пыль. Это подлинный глоток свежего воздуха от компании, преуспевшей в создании инновационной техники."
	},
	{
		name  : "НОВИНКИ ОТ КОМПАНИИ KITCHENAID 2018 - 2019 ГОДА",
		link  : "novinki-ot-kitchenaid-2018-2019",
		img   : "novinki-ot-kitchenaid-2019-02",
		date  : "13/01/2019",
		dateF : "2019-01-13",
		desc  : "Компания KitchenAid вывела на рынок новый миксер с набором насадок -  насадка-мясорубка и насадка-овощерезка. Ваш миксер работает как три устройства.<br>Еще две новинки - кухонный комбайн и электрочайник, обе модели  сделаны в едином дизайне от KitchenAid и прекрасно сочетаются с уже купленной техникой от этой компании."
	},
	{
		name  : "ХОЛОДИЛЬНИКИ IO MABE",
		link  : "holodilniki-io-mabe",
		img   : "holodilniki-io-mabe-01",
		date  : "16/12/2018",
		dateF : "2018-12-16",
		desc  : "ХОЛОДИЛЬНИКИ IO MABE - технические характеристики и технологии."
	},
	{
		name  : "НОВЫЕ МОДЕЛИ 2018 ГОДА ПРАЧЕЧНОГО ОБОРУДОВАНИЯ ОТ ASKO",
		link  : "prachechnoe-oborudovanie-asko-2017",
		img   : "prachechnoe-oborudovanie-asko-2017",
		date  : "06/12/2018",
		dateF : "2018-12-16",
		desc  : "В 2018 году компания Asko презентует новые модели стиральных машин. Удобство использования, забота об окружающей среде и изящные, приятные очертания являются отличительными особенностями скандинавского дизайна - и техники ASKO. Основная идея заключается в том, что тщательно продуманные продукты должны улучшать качество жизни людей. Чтобы выделяться на рынке сложных громоздких моделей, мы стремимся к ненавязчивому минимализму, потому что главное достоинство стиральной машины - это практичность. Такие особенности скандинавского дизайна, как сдержанная элегантность, высококачественное изготовление и натуральные материалы, нашли свое отражение в технике ASKO. Большое внимание также уделяется функциональности. Мы стремимся сделать жизнь проще, предлагая действительно удобные интерфейсы, практичные функции и надежные, безотказные продукты, которые будут радовать вас долгое время."
	},
	{
		name  : "ИННОВАЦИИ В ХОЛОДИЛЬНИКАХ IO MABE",
		link  : "innovacii-v-holodilnikah-io-mabe",
		img   : "innovacii-v-holodilnikah-io-mabe-01",
		date  : "01/12/2018",
		dateF : "2018-12-01",
		desc  : "Холодильники IO Mabe от недорогих моделей до премиальных заслуживают пристального внимания покупателей. Они доступны в разных цветовых вариантах, а так же в корпусе из нержавеющей стали. Особенностью может стать покрашенный корпус по вашему выбору из каталога RAL. Разнообразие функциональных возможностей: от льдогенератора, до зоны с регулируемой влажностью, от электронных датчиков до латунных ручек. Присмотритесь к холодильникам IO Mabe и вы получите функциональный и инновационный холодильник высокого качества."
	}

]%}

			<article class="publication__item">

				<a href="https://forthouse.ru/publication/{{ item.link }}" class="publication__img">

					<picture>

						<source srcset="https://forthouse.ru/pic/220x220/{{ item.img }}.jpg 1x, https://forthouse.ru/pic/440x440/{{ item.img }}.jpg 2x">

						<img src="https://forthouse.ru/pic/220x220/{{ item.img }}.jpg" alt="{{ item.name }}" loading="lazy" width="220" height="220">

					</picture>

				</a>

				<div class="publication__body">

					<h2 class="publication__name">

						<a href="https://forthouse.ru/publication/{{ item.link }}">
							{{ item.name }}
						</a>

					</h2>

					<time class="publication__date" datetime="{{ item.dateF }}">
						{{ item.date }}
					</time>

					<p>
						{{ item.desc | safe }}
					</p>

				</div>

			</article>

{% endfor %}

		</div>

{% include "template/pagin.html" %}

	</section>

{% endblock %}