			<div class="product__gallery">

				<div class="product-gallery">

					<div class="product-gallery__main">

						<div class="swiper-container swiper-container--gallery">

							<ul class="product-gallery__list swiper-wrapper">

{% for i in range(0,10) %}

								<li class="product-gallery__item swiper-slide">

									<a class="product-gallery__link" href="/img/product/880x880/r-bg410.jpg" target="_blank">

										<picture>

											<source srcset="/img/product/440x440/r-bg410.webp 1x, /img/product/880x880/r-bg410.webp 2x" type="image/webp">
											<source srcset="/img/product/440x440/r-bg410.jpg 1x, /img/product/880x880/r-bg410.jpg 2x">

											<img src="/img/product/440x440/r-bg410.jpg" width="440" height="440" alt="{{ title }}" loading="lazy">

										</picture>

									</a>

								</li>

{% endfor %}

							</ul>

						</div>

					</div>

					<div class="product-gallery__preview">

						<div class="swiper-container swiper-container--vertical">

							<ul class="product-gallery__preview-list swiper-wrapper">

{% for i in range(0,10) %}

								<li class="product-gallery__preview-item swiper-slide{% if loop.first %} is-active{% endif %}">

									<a class="product-gallery__preview-link" href="/img/product/880x880/r-bg410.jpg" target="_blank">

										<picture>

											<source srcset="/img/product/90x90/r-bg410.webp 1x, /img/product/180x180/r-bg410.webp 2x" type="image/webp">
											<source srcset="/img/product/90x90/r-bg410.jpg 1x, /img/product/180x180/r-bg410.jpg 2x">

											<img src="/img/product/90x90/r-bg410.jpg" width="90" height="90" alt="{{ title }}" loading="lazy">

										</picture>

									</a>

								</li>

{% endfor %}

							</ul>

						</div>

						<div class="product-gallery__preview-more">

							<button class="btn btn--more" type="button">
								Еще <span class="product-gallery__preview-more-index">6</span> фото
							</button>

						</div>

					</div>

				</div>

			</div>