{% set title = "Холодильник Hitachi R-BG410 PU6X GPW" %}

{% set description = "Двухкамерный холодильник Hitachi R-BG410 PU6X GBE - охлаждение и заморозка в лучшем виде. Отдельностоящий холодильник-морозильник Hitachi R-BG410 PU6X GBE отличается множеством удобных функций и способствует поддержанию здорового и современного образа жизни. В холодильной камере созданы идеальные условия для бережного хранения продуктов." %}

{% set breadcrumbs = ["Главная", "Бытовая техника", "Холодильники", "R-BG410 PU6X GPW"] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

		<div class="product">


{% include "catalog/head.html" %}


		</div>

	</article>

{% endblock %}